@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-one: #000;
  --color-two: #fff;
  --color-three: #FFC633;
  --color-four: #FF3333;
  --color-five: #FFEBEB;
  --color-six: #01AB31;
  --color-text: #999999;
  --bg-one: #F2F0F1;
  --bg-two: #F0EEED;
  --bg-three: #F0F0F0;
  --font: "Be Vietnam Pro", serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
}

a {
  text-decoration: none;
  color: var(--color-one);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

/* Button */
.btn {
  background-color: var(--color-one);
  color: var(--color-two);
  padding: 16px 54px;
  border-radius: 62px;
  display: inline-block;
  font-weight: 500;
}

.btn-white {
  background-color: var(--color-two);
  border: 1px solid #0000001A;
  color: var(--color-one);
}

/* End Button */

.head-title {
  font-size: 48px;
  text-align: center;
}