/* header */
.sub-header {
  background-color: var(--color-one);
  color: var(--color-two);
  padding: 10px 0;
  font-size: 14px;
}

.sub-header .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-header a {
  color: var(--color-two);
  font-weight: 500;
  text-decoration: underline;
}

.sub-header i {
  font-size: 16px;
  cursor: pointer;
}

.header {
  padding: 20px 0;
}

.header .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .inner-logo {
  font-size: 32px;
  font-weight: 700;
}

.header .menu ul {
  display: flex;
  order: 2;
}

.header .menu a {
  padding: 10px;
  font-weight: 500;
}

.header .search-input {
  width: 563px;
  background-color: var(--bg-one);
  padding: 10px 14px;
  border-radius: 40px;
  color: #aaa;
  display: flex;
  gap: 8px;
}

.header .search-input input {
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--bg-one);
}

.header .search-input i {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.header input::placeholder {
  color: #aaa;
  font-size: 14px;
}

.header .inner-icon {
  font-size: 20px;
  display: flex;
  gap: 12px;

}

/* End header */